@media (max-width:1020px){
    .about{
        width: 1020px;
        margin-top: 850px;
    }
    .about__item{
        width: 1020px;
        flex-wrap: wrap;
    }
    .about__img{
        width: 320px;
        height: 320px;
    }
    .about__subtitle{
        font-size: 24px;
        line-height: 150px;
        margin-bottom: -80px;
    }
    .about__title::after{
        width: 148px;
        height: 4px;
    }
    .about__text{
        font-size: 14px;
        width: 980px;
    }
    .about__img_title{
        top: 550px;
        left: 110px;
        font-size: 18px;
    }
    .about__img_title:nth-child(4){
        left: 510px;
    }
    .about__img_title:last-child{
        left: 910px;
    }
}
@media (max-width: 320px){
    .about{
        width: 320px;
        margin: 500px auto;
    }
    .about__subtitle{
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 55px;
    }
    .about__title{
        font-size: 24px;
        font-weight: 900;
        line-height: 100px;
        margin-top: -35px;
        line-height: 50px;
    }
    .about__title::after{
        width: 134px;
        height: 4px;
    }
    .about__text{
        font-size: 14px;
        width: 280px;
    }
    .about__img{
        width: 288px;
        height: 258px;
    }
    .about__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }
    .about__img:last-child{
        width: 100px;
    }
    .about__img_title{
        top: 550px;
        left: 110px;
        font-size: 18px;
        color: red;
    }
    .about__img_title:nth-child(4){
        top: 900px;
        left: 50px;
    }
    .about__img_title:last-child{
    left: 910px;
    }
}