.service__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service__subtitle{
    margin-bottom: -10px;
}
.service__list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    width: 1170px;
}
.service__listItem{
    flex: 1 1 0;
    padding-left: 90px;
    position: relative;
    margin: 30px 0 91px;
}

.service__listSvg{
    color: #95E1D3;
    position: absolute;
    top: 2px;
    left: 20px;
}
.service__itemTitle{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    margin-left: 15px;
}
.service__itemText{
    margin-left: 15px;
    margin-top: 30px;
   width: 270px;
   font-size: 18px;
   line-height: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
