@media (max-width:1020px){
    .statistics{
        width: 1020px;
    }
    .stat{
        display: flex;
        justify-content: space-around;
    }
    .stat__item{
        padding: 0 70px;
    }
    .stat__num{
        font-size: 48px;
    }
    .stat__text{
        font-size: 24px;
    }
 }
 @media (max-with:320px){
    .statistics{
        width: 320px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
     }
 }