@import url("./blocks/header/header.css");
@import url("./blocks/about/about.css");
@import url("./blocks/statistics/statistics.css");
@import url("./blocks/service/service.css");
@import url("./blocks/about/aboutAdapt.css");
@import url("./blocks/header/headerAdapt.css");
@import url("./blocks/service/serviceAdapt.css");
@import url("./blocks/statistics/statisticsAdapt.css");
@import url("./blocks/device/device.css");
@import url("./blocks/footer/footer.css");




body{
    font-family: 'Montserrat', sans-serif;

}
a{
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
}
