.device{
    width: 1510px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient( 90deg, rgba(255, 255, 255, 0.8) 25%, rgba(255, 255, 255, 0.8) 25%), url(./deviceBack.png) no-repeat;
    background-size: cover;
    background-position: center; 
}
.device__subtitle{
    margin: 42px auto -10px;
}
.device__title{
    font-size: 36px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}
.device__title::after{
    content: "";
    display: block;
    margin: 30px auto;
    width: 170px;
    height: 4px;
    background-color: #F38281;
}
.device__img_tablet{
    max-width: 1170px;
    background: url(./tabletBack.png) no-repeat;
    background-position: center;
}
.device__img_phone{
    max-width: 200px;
    position: absolute;
    left: 950px;
    top: 2420px;;
}