@media (max-width:1020px){
    .device{
        width: 1020px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .device__subtitle{
        font-size: 24px;
    }
    .device__title{
        font-size: 24px;
    }
    .device__title:after{
        width: 148px;
    }
    .device__img_tablet{
        width: 446px;
    }
    .device__img_phone{
        width: 135px;
    }
}